.git
.github
*.Dockerfile
Dockerfile
Dockerfile.*
docker-compose.yml
README.md
node_modules
anime-dataset/*
!anime-dataset/public
!anime-dataset/public/**
docker/*
!docker/nginx
!docker/nginx/default.conf
secrets/
.env*
scripts/
