# Dependencies
node_modules/

# Build/Output
dist/
build/
out/
.tmp/
.temp/
.cache/
.next/
.svelte-kit/
.nuxt/
.vercel/
.netlify/

# Env/Secrets
.env
.env.local
.env.*.local

# Certificates
server/certbot/etc-letsencrypt/*
!server/certbot/etc-letsencrypt/.gitkeep
server/certbot/www/*
!server/certbot/www/.gitkeep


# Editors
.vscode/
.idea/
.DS_Store
