# Dependencies
node_modules/

# Build/Output
dist/
build/
out/
.tmp/
.temp/
.cache/
.next/
.svelte-kit/
.nuxt/
.vercel/
.netlify/

# Env/Secrets
.env
.env.local
.env.*.local


# Editors
.vscode/
.idea/
.DS_Store
