/* nunito-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/nunito-sans-v12-latin-regular.eot');/* IE9 Compat Modes */
    src: url('../assets/fonts/nunito-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
        url('../assets/fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'),/* Super Modern Browsers */
        url('../assets/fonts/nunito-sans-v12-latin-regular.woff') format('woff'),/* Modern Browsers */
        url('../assets/fonts/nunito-sans-v12-latin-regular.ttf') format('truetype'),/* Safari, Android, iOS */
        url('../assets/fonts/nunito-sans-v12-latin-regular.svg#NunitoSans') format('svg');/* Legacy iOS */
}

:root {
    --primary-bg-color: #F5ECDF;
    --secondary-bg-color: #ffffff;

    --main-fg-color: #242427;
    --secondary-fg-color: #37373b;
}


html, body{
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
}